<h1>Welcome To Burger Time!</h1>

<form class="create-form">

    <div class="form-group">
        <textarea id="burger" name="burger" placeholder="What kind of burger did you want?"></textarea>
    </div>


    <button type="submit">Submit</button>
</form>